body {
	font-family: Verdana, Helvetica, sans-serif;
	background-color: #FFFFF5;
	margin: 0;
	padding: 0;
}

.page {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 50px;
}

div {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
}

.column {
	float: left;
	width: 40%;
}

.column-spacer {
	float: left;
	width: 10%;
	height: 10px;
}

.red-box {
	background-color: #FF0000;
}