body {
	font-family: 'Unna', serif;
	font-size: 125%;
	margin: 0;
	padding: 0;
}

.page {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 700px;
}

div {
	margin: 0;
	padding: 0;
}

.heading {
	text-align: center;
	font-size: 250%;
}

.sub-heading {
	font-size: 175%;
}

.column {
	float: left;
	width: 305px;
	text-align: center;
}

.column-spacer {
	float: left;
	width: 90px;
	height: 10px;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.error {
	font-size: 65%;
	color: #FF0000;
}