body {
	font-family: Verdana, Helvetica, sans-serif;
	background-color: #FFFFF5;
	margin:0;
	padding:0;
	width:1100px;
}

#page {
	width:1100px;
	margin-left:100px;
	margin-top:50px;
}

div {
	margin:0;
	padding:0;
}

.help {
	position:relative;
	font-size: .6em;
	align:middle;
	display:inline;
	vertical-align:middle;
	top: -.3em;
}

h1 {
	text-align:center;
}

.column {
	float:left;
	width:500px;
}

.column-spacer {
	float:left;
	width:100px;
	height:10px;
}

#left-col {
	margin-right:50px;
}